df  body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: darkblue;
            text-align: center;
        }

        p {
            font-size: 18px;
            color: #333;
        }

        ul {
            background-color: white;
            padding: 15px;
            width: 200px;
        }

        li {
            margin: 5px 0;
        }